body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,

textarea {
    max-width: 100%;
    resize: none;
}

/*Upload button*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
a {
    color: #1DE9B6;
    text-decoration: none;
}

/*LABELS*/

.title{
    font-size:large;
}

/*BUTTON*/
#btnConfirmRequest, #btnRejectRequest, #btnPendingRequest, #btnAddFriend{
    height: 35px;
    width:200px;
    border-radius: 2px;
    margin-bottom: 3px;
    
}

.btn-default{
    background-color:aquamarine;
}
#btnAboutMeEdit{
    background-color:#2e2f2f;
    color: aliceblue;
    border-radius: 2px;
    border-color:#2e2f2f;
}


/*TEXTAREA*/


#textAreaAbboutMe, #textAreaComment, #textAreaPost, #textAreaComments, #textAreaHomePost{

 background-color: #FAFAFA;
    border:solid;
    border-color:#EEEEEE;
    border-radius: 0px;
    outline: none;    
   
}

#txtAboutMe, #textAreaAbboutMe{
    color:#263238;
    border-radius:5px;
      
}

/*IMAGE*/

#divProfilePic.imgDescription{
   position:absolute;
    bottom:50px;
    left:0px;
visibility:hidden;
}

/*geekgirllife.com/place-text-over-images-on-hover-without-javascript*/
.imgDescription{
  background: rgba(0,0,0,0.5);
  color: aliceblue;
  font-size: large;
  cursor: pointer;
  display: table;
  height: 160px;
  left: 110px;
  position: absolute;
  top: 43px;
  width: 160px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;


  visibility: hidden;
  opacity: 0;

}

#divProfilePic:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

#imgProfilePicPost, #imgHomePicPost{
    height: 40px;
    width: 40px;
}

#imgProfilePic{
    margin-top:20px;
    height: 100px;
    width: 100px;
}
#imgProfileImage, #imgProfileImageFriend{
    margin-top: 40px;
    height: 160px;
    width:160px;
}

.profilePost{
    position:absolute;

}
#imgProfilePicFiends{
    height:100px;
    width: 100px;
   
    
}
#imgDPNav{
    height: 22px;
    width: 22px;
}
#btnDropdownIcon{
    background-color:#009688;
}
/*Dropdown*/
#dropdownIcon{
    
    margin-left: 100px;
}

/*Link*/

#linkLogout, #linkSettings{
    
    
}
#linkSettings:hover, #linkLogout:hover{
    
    color: #BDBDBD;
     text-decoration: none;
}

/*DIVISIONS*/
#divCredentials{
    margin-top: 17px;
}
.open>.dropdown-menu {
    display: block;
    background-color: #FAFAFA;
}


.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #444444;
    white-space: nowrap;
}

.searchBar{
    margin-top: 5%;
}

.div-details{
    margin-top: 10px;

    padding-left:10px;
}
#divHomePosList,#divHomePostHead{
   
    margin-top: 10px;
    margin-bottom:10px;
}
#divHome{
    margin-left: 100px;
}


.navbar{
    background-color: #009688;
    height: 10px;
}
.navbar-inverse {
    background-color: #009688;
    border-color: #009688;
    padding-left: 75px;
}
.input-group{
    margin-top: 2px;
    

}
#divSearch{
     margin-left: 20px;    
}
#divLogout{
    margin-top:10px;
}

#ulNav{
    padding-left:23px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #BDBDBD;
    
}   

.panel-default>.panel-heading {
    
    background-color: #009688;
   
}
#divUpperColor{
    background-color:#1DE9B6;
    padding-top: 80px;
}

#divCommnentButton{
    margin-bottom: 5px;
}


#divLikeButton, #divLikeButtonProfile{
    margin-left: -30px;
    margin-top: 2px;
    margin-bottom: 5px;
    
}
#divComment{
    margin-top: -20px;
    margin-left: 8px;
}
#divCommentList{
    margin-top: 5px;
}

#divPostConten{
    margin-bottom: 25px;
}

#divPostHead{
    background-color: #009688;
    padding-top: 3px;
   padding-bottom:3px;
   border-radius: 1px;
   margin-bottom:5px;
}
#divHomePostHead{
    background-color: #009688;
    margin-top: -1px;
     padding-top: 3px;
   padding-bottom:3px;
   border-radius: 1px;
   margin-bottom:5px;
}

#divPostNamePic, #divHomePostNamePic{
    margin-left: -25px;
}
#divPostDate{
    margin-top:8px;
    margin-right:25px;
}

#divWrappersearch{
    border: solid;
    border-radius: 5px;
    background-color: #1DE9B6;

}
#jumbotron{
    margin-top:20px;
    height: 278px;
    background-color: #FFF9C4;
    
}
#panelLogin{
    margin-top: 20px;
    
}
.panel-default>.panel-heading {
    background-color: #4DB6AC;
    
}
#divHomePageWrapper{
    background-color: #FFF9C4;
    border-radius: 5px;
}

/*Form*/

#formProfileDetails{
   
   
   
}

#formFriends{
    border: solid;
    border-color:#BDBDBD;
    background-color:#424242; 
}

#upperProfile{
    
    background-color: #009688;
    border: solid;
    border-color:#F5F5F5;
    border-radius: 5px;
}

#lowerProfile{
    margin-top: 10px;
     border: solid;
    border-color:#F5F5F5;
    border-radius: 5px;
}
#formComments{
    background-color:#F5F5F5;
}

#underAboutMe{
    position:absolute;
    top: 50px;
}



/*BUTTONS*/

#btnLikeList{
    margin-left: -5px;
    margin-top:5px;
}
#btnAboutMe{
    
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}


#upperProfile, #divPostHead, #divHomePostHead, #panelSearch{
    color: aliceblue;
}


 


#txtExtensionValidationMessage, #txtSizeValidationMessage /*#txtAboutMeValidationMessage*/{
    display:none;
}


/*SPAN*/
#spanDatePost{
    
}