@model PasteBookEntityLibrary.POST_TABLE

<div class="container">
    @using (Html.BeginForm("Home", "PasteBook", FormMethod.Post))
    {

        <h2>Home</h2>

        <div class="panel-group">
            <div class="col-md-9">
                <div class="panel panel-info">

                    <div class="panel-body">
                        <div class="col-md-12">
                            @Html.TextAreaFor(x => x.CONTENT, new { @cols = "130", @rows = "5" })
                        </div>
                        <div class="col-md-offset-10 col-md-12">
                            <input type="submit" id="btnPost" value="&nbsp Post &nbsp " class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

    @{
       
            Html.RenderAction("HomePost", "PasteBook");
        



    }

</div>
