@model IEnumerable<PasteBookEFLibrary.USER_TABLE>



    <!-- Modal -->
    <div class="modal fade" id="userListLike" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
@foreach (var @item in Model)
{
                    <p><label> @item.FIRST_NAME @item.LAST_NAME </label></p>
}
                </div>
               
            </div>
        </div>
    </div>
   


