@model PasteBookEntityLibrary.COMMENTS_TABLE


@using (Html.BeginForm("MakeComment", "PasteBook", FormMethod.Post))
{
    <div class="col-md-10">
        <div class="input-group">
            @Html.EditorFor(x => x.CONTENT, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Write a comment..." } })
            <span class="input-group-btn">
                <button id="btnComment" class="btn btn-default" type="submit">Comment</button>
            </span>
        </div>
    </div>
}

