
<div class="container">
    <div class="fixed col-md-4">
        <form id="formProfileDetails">

            <div id="upperProfile">
                <div id="divProfilePic" class="form-group text-center">
                    <img src="@Url.Content("~/Content/Images/default.png")" id="imgProfilePic" alt="Profile-Picture" class="img-thumbnail" />
                </div>

                <div id="divProfileName" class="form-group text-center">
                    <h4>Katrina Ayeng</h4>
                </div>
             </div>

            <div id="lowerProfile">
                <div class="div-details">
                    <div class="form-group text-center">
                        <h5>About Me <button id="btnAboutMe" type="button"><span class="glyphicon glyphicon-edit"></span></button></h5>
                    </div>
                    <div class="form-group">
                        @*<span>Don't you ever give up!</span>*@
                        <textarea id="textAreaAbboutMe" cols="43" rows="8" readonly="readonly">
                            aaaaasssssdddddfffffaaaaasssssdddddfffffdddddfffffaaaaasssssdddddfffffaaaaasssssdddddfffffdddddfffffaaaaasssssdddddfffffaaaaasssssdddddfffffdddddfffffaaaaasssssdddddfffffaaaaasssssdddddfffffdddddfffffaaaaasssssdddddfffffaaaaasssssdddddfffffdddddfffff

                        </textarea>
                    </div>

                    
                        <div class="form-group text-center">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            <span>Philippines</span>
                        </div>

                        <div class="form-group text-center">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <span>Joined August 2013</span>
                        </div>

                        <div class="form=group text-center">
                            <span class="glyphicon glyphicon-gift"></span>
                            <span>Born on October 19, 1993</span>
                        </div><br />

                        <div class="form-group text-center">
                            <span class="glyphicon glyphicon-phone-alt"></span>
                            <span>09456789763</span>
                        </div>

                        <div class="form-group text-center">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            <span>Female</span>
                        </div>
                    </div>
                
            </div>
        </form>
    </div>

    <div class="col-md-8">
        <form>

            <div class="panel panel-default">
                <div class="panel-body">
                    <textarea cols="150" rows="3"></textarea>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>
                        <span>Post</span></a>
                    </div>
                </div>
            </div>


        </form>
    </div>



</div>
