<div class="col-md-10">
    <div class="col-md-10">
        <h2>Sorry, this page isn't available.</h2>
    </div>
    <div class="col-md-10">

        <p>The link you followed maybe broken or the page may have been removed. <a href='@Url.Action("HomePage", "PasteBook")'>Go back to PasteBook</a></p>
    </div>

</div>
